{% include 'main_base.html' %}
{% load static %}
{% load i18n%}


<link rel="stylesheet" href="{% static 'css/profile.css' %}">


<div class="error" style="margin-left: 40%; color: dimgrey; font-weight: bold;">
    {% if form.errors %}
        <strong>Error!</strong> Please correct the following errors:
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field|title }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
<p class="language">
  <a href="#" onclick="changeLanguage('en')" role="button">{% trans "English" %}</a>
  <a href="#" onclick="changeLanguage('ru')" role="button">{% trans "Russian" %}</a>
  <a href="#" onclick="changeLanguage('hy')" role="button">{% trans "Armenian" %}</a>
</p>

<div class="container">
    <img class ="img" src="{% static 'img/card3.jpg' %}">
    <div class="front side">
        <div class="content">
            <br>
            <div class="chip">
                <img src="{% static 'img/chip.png' %}">
            <img class= "wifi" src="{% static 'img/signal.png' %}"></div>
           
            <h1 id="card-number">{{ profile.card_number }}</h1>
            
            
            <div class="date">{% trans "Created at" %} /{{ profile.user.created_at }}</div>
            
            
            <div class="name">{% trans "Your Name" %} : {{ profile.user.first_name }} {{ profile.user.last_name }}</div>
            <div id="card-type" class="logo1"><img src="{% static 'img/Visa.jpg' %}"></div>
            
        </div>
        
    </div>
    
    <div class="back side">
         <img class ="img1" src="{% static 'img/card3.jpg' %}">
        <div class="black"></div>
        
        
        <div class="content">
            <br>
            <br>

            <br>
           <form method="post">
                {% csrf_token %}
            {{ form.label }}{{ form.pin_code }}
               {{ form.balance }}
                <button type="submit">{% trans "Submit" %}</button>
            </form>
            <br>
            <div class="card_acc">{% trans "Your card account:" %}{{ profile.card_account }}</div>
            <br>
            
            
            <div class="card_acc">{% trans "Your bank account:" %} {{ profile.bank_account }}</div>
            <br>
            <div class="card_acc">{% trans "Your pin_code:" %} {{ profile.pin_code }}</div>
            <br>
            
            <div class="card_acc">{% trans "Your balance:" %} {{ profile.balance }}</div>
            <br>
            
            <div id="card-type-back" class="logo1"><img src="{% static 'img/Visa.jpg' %}"></div>
            
        </div>
    </div>

</div>
<div class="bcont">
    <button class="btn-52" onclick="changeCardType('Arca')">
        <div class="original">Arca</div>
        <div class="letters">
            <span>A</span>
            <span>r</span>
            <span>C</span>
            <span>A</span>
        </div>
    </button>
            
    <button class="btn-52" onclick="changeCardType('Mastercard')">
        <div class="original">Mastercard</div>
        <div class="letters">
            <span>M</span>
            <span>a</span>
            <span>s</span>
            <span>t</span>
            <span>r</span>
            <span>c</span>
            <span>a</span>
            <span>r</span>
            <span>t</span>
        </div>
    </button>
            
    <button class="btn-52" onclick="changeCardType('Visa')">
        <div class="original">Visa</div>
        <div class="letters">
            <span>V</span>
            <span>i</span>
            <span>s</span>
            <span>a</span>
        </div>
    </button>
    <button class="btn-52" onclick="changeCardType('Maestro')">
        <div class="original">Maestro</div>
        <div class="letters">
            <span>M</span>
            <span>a</span>
            <span>e</span>
            <span>s</span>
            <span>t</span>
            <span>r</span>
            <span>o</span>
        </div>
    </button>
</div>

<script>
function changeCardType(cardType) {
        var img = document.getElementsByClassName('img')[0];
        var img1 = document.getElementsByClassName('img1')[0];
        var cardNumber = document.getElementById('card-number');
        var cardTypeFront = document.getElementById('card-type');
        var cardTypeBack = document.getElementById('card-type-back');

        switch (cardType) {
            case 'Arca':

                cardNumber.textContent = "9051 3402 **** ****";
                img.setAttribute('src', "{% static 'img/card4.jpg' %}");
                img1.setAttribute('src', "{% static 'img/card4.jpg' %}");
                cardTypeFront.innerHTML = '<img src="{% static 'img/Arca.png' %}">';
                cardTypeBack.innerHTML = '<img src="{% static 'img/Arca.png' %}">';
                break;
            case 'Mastercard':
                cardNumber.textContent = "5821 8003 **** ****";
                img.setAttribute('src', "{% static 'img/card8.jpg' %}");
                img1.setAttribute('src', "{% static 'img/card8.jpg' %}");
                cardTypeFront.innerHTML = '<img src="{% static 'img/Mastercard.png' %}">';
                cardTypeBack.innerHTML = '<img src="{% static 'img/Mastercard.png' %}">';
                break;
            case 'Visa':
                cardNumber.textContent = "4012 4500 **** ****";
                img.setAttribute('src', "{% static 'img/card3.jpg' %}");
                img1.setAttribute('src', "{% static 'img/card3.jpg' %}");
                cardTypeFront.innerHTML = '<img src="{% static 'img/Visa.jpg' %}">';
                cardTypeBack.innerHTML = '<img src="{% static 'img/Visa.jpg' %}">';
                break;
            case 'Maestro':
                cardNumber.textContent = "6700 2477 **** ****";
                img.setAttribute('src', "{% static 'img/car5.jpg' %}");
                img1.setAttribute('src', "{% static 'img/car5.jpg' %}");
                cardTypeFront.innerHTML = '<img src="{% static 'img/Maestro_logo.png' %}">';
                cardTypeBack.innerHTML = '<img src="{% static 'img/Maestro_logo.png' %}">';
                break;
            default:
                break;
        }
    }
</script>
