{%  include "main_base.html" %}
{% load static %}
{% load i18n %}
<link href="{% static 'css/bankomate.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="pin-login" id="mainPinLogin">
    <div class="container">
    <div class="card-header">
        <form method="post">
    {% csrf_token %}
        {{ form.pin_code }}
            </div>
            <div>
                <div class="row">
                    <button type="button"
                            class="pinpad-btn"
                            value="1">
                            1
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="2">
                            2
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="3">
                            3
                    </button>
                </div>
                <div class="row">
                    <button type="button"
                            class="pinpad-btn"
                            value="4">
                            4
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="5">
                            5
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="6">
                            6
                    </button>
                </div>
                <div class="row">
                    <button type="button"
                            class="pinpad-btn"
                            value="7">
                            7
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="8">
                            8
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="9">
                            9
                    </button>
                     
                </div>
                <div class="row">
                    <button type="button"
                            class="pinpad-btn"
                            value="del
                            "
                         id="delete-btn">
                        Del
                    </button>
                    <button type="button"
                            class="pinpad-btn"
                            value="0"
                    id="but">
                            0
                    </button>
                    
                </div>
            </div>
        
    <div class="result">
        
        <h2 style="font-family: 'Lucida Console', 'Courier New', monospace;">{% trans "Enter the money you want to get" %}</h2>
        
               
    {{ form.money }}
                   
    <button type="submit">{% trans "Submit"%}</button>

</div>
        </form>
</div>

<script type="text/javascript" src="{% static 'js/bankomate.js' %}"></script>
</div>