{% load static %}
<link rel="stylesheet" href="{% static 'css/conform.css' %}">
<div class="form-gap"></div>
<div class="container" >
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                
                    <img src="{% static 'img/open-lock.png' %}">
                    
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form class="login_form" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
 <span class='label signup-title center-align'>Enter your new password twice.</span>
    <label for="new-password" class="label">
        New password
    </label>

    <input type="password" class="form_input custom_password_input" id="new-password" name="new_password1" placeholder="New Password" required>

    <label for="confirm-password" class="label">
        Confirm password
    </label>
        
    <input type="password" class="form_input custom_password_input" id="confirm-password" name="new_password2" placeholder="Confirm Password" required>
    
                        <br>
     <button class='btn btn_log_in' type="submit">Reset</button>
            <div class="divider"></div>

</form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>