{% include "main_base.html" %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/check.css' %}">
<br>
<br>
<br>

<div class="main">
    <div class="container">
        <div class="heading">
            {% if latest_service %}
            <h1>{{ latest_service.type }} {{ latest_service.number }}</h1>
            <label for="name">Your check details</label>
            <br>
            <label for="card">Its created in</label>
            {{ latest_service.created_at }}
            <br>
            <br>
            {% else %}
            <p>No service created yet.</p>
            {% endif %}
        </div>
    </div>
</div>
