{% include "main_base.html" %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/check.css' %}">


    <div class="container">
	<div class="ticket airline">
		<div class="top">
            
			
			<div class="big">
				<p class="from"></p>
                {% if latest_service %}
				<p class="to"><i class="fas fa-arrow-right"></i>{{ latest_service.type }} {{ latest_service.number }}</p>
                
			</div>
            
                    
		</div>
		<div class="bottom">
			<div class="column">
				<div class="row row-1">
					<p><span>{% trans "Bank name" %}</span> {% trans "International bank" %}</p>
					
				</div>
				<div class="row row-2">
					<p><span>{% trans "Your Window" %}</span> {{ latest_service.windows }}</p>
                
					
				</div>
                    <div class="row row-2">
                    <p class="row--right"><span>{% trans "Created at" %}</span>  {{ latest_service.created_at }}</p>
                {% else %}
                <p class="to"><i class="fas fa-arrow-right"></i>{% trans "No service created yet" %}</p>
                {% endif %}
				
			</div>
            <br>
            <br>
			<div class="bar--code"></div>
            
		</div>
            
	</div>

	
    
</div>
     <div class="container1">
        {% for service in services %}
            <h1> {{ service.type }}{{ service.number }} -->{{ service.windows }}</h1>
        {% endfor %}
    </div>
    
    </div>

