{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="language">
        
    <a href="/ru/" role="button"><img src ="{% static 'img/russia.png' %}"></a>
   <a href="/en/" role="button"><img src ="{% static 'img/united-kingdom.png' %}"></a>
     <a href="/hy/" role="button"><img src ="{% static 'img/armenia.png' %}"></a>
    </div>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/img1.png' %}"
      type="image/x-icon" sizes="64x64">
    <title>International Bank</title>
</head>
 <link rel="stylesheet" href="{% static 'css/Login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>

<br>
<br>
  {% if form.errors %}

            <strong>Error!</strong> Please correct the following errors:
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>

    {% endif %}
<div class="container" id="container">

    
	<div class="form-container sign-up-container">
		<form  method ="POST" action="#">
            {% csrf_token %}
			<h1>{% trans "Create Account" %}</h1>
            <div class="img"><img src="{% static '/img/img1.png' %}"></div>
            {% trans "Email" %}
{{ form.email }}
{% trans "Your Name" %}
{{ form.first_name }}
{% trans "Last name" %}
{{ form.last_name }}
{{ form.password1.label}}
{{ form.password1 }}
{{ form.password2.label}}
{{ form.password2 }}

			<button type ="submit" >{% trans "Sign Up" %}</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
			<h1>{% trans "Sign in" %}</h1>
			<div class="img"><img src="{% static 'img/img1.png' %}"></div>
            <label>{% trans "Email" %}</label>
			<input type ="email" name ="email" placeholder="{% trans "Email" %}">
            <label>{% trans "Password" %}</label>
            <input type ="password" name ="password" placeholder="{% trans "Password" %}">

			<a href="{% url "reset_password" %}">{% trans "Forgot your Password?" %}</a>
			<button type="submit">{% trans "Sign In" %} </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>{% trans "Welcome Back!" %}</h1>
				<p>{% trans "To keep connected with us please login with your personal info" %}</p>
				<button class="ghost" id="signIn">{% trans "Sign In" %}</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>{% trans "Hello, Friend!" %}</h1>
				<p>{% trans "Enter your personal details and start online banking with us" %}</p>
				<button class="ghost" id="signUp">{% trans "Sign Up" %}</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/LogIn.js' %}"></script>
</body>
</html>